@charset "UTF-8";
li:hover{ margin:0;
    font-size:130%;
    }
    html{margin-top: 250px;
       font-family: serif;}
    
   body{margin:auto;
    }
       ul{
        display:flex; 
        justify-content:space-around;
        list-style:none;
        padding:0;}

        h2.aho{text-align:center;
 color:rgb(255, 255, 255)}
.gate{
    width:650px;
    border: 5px double;
    margin:auto;
    background-color:rgba(0, 0, 0, 0.582);}
    a{padding: 6px;
        border: 5px double;
     text-decoration:none;
     background-color: rgb(216, 255, 108);}
p{text-align:center; color:rgb(255, 255, 255);}
a.home{background-color: rgba(64, 0, 255, 0.49);
color:brown}